{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1> Bienvenue ! </h1>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

</div>
{% endblock %}
