{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<h1> Bienvenue ! </h1>
<img src="{{ asset('build/images/image1.e74d81f1.jpg')}}" alt="">
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

</div>
{% endblock %}
