{# _navbar.html.twig #}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
    <a class="navbar-brand" href="{{ path('app_default')}}">DONKEY SERIES</a>
		<ul class="navbar-nav">
			<li class="m-3 nav-item active" >
				<a style="margin:0 10px ;" class="nav-link" href="#">Accueil</a>
			</li>
			<li class=" m-3 nav-item">
				<a style="margin:0 10px ;" class="nav-link" href="#">Séries</a>
			</li>
			<li class=" m-3 nav-item">
				<a style="margin:0 10px ;" class="nav-link" href="#">Films</a>
			</li>
			<li class="m-3 nav-item">
				<a style="margin:0 10px ;" class="nav-link" href="#">Communautés</a>
			</li>

			
				<li class="m-3 nav-item">
					<a style="margin:0 10px ;" class="nav-link" href="#">Inscription</a>
				</li>
				<li class="m-3 nav-item">
					<a style="margin:0 10px ;" class="nav-link" href="#">Connexion</a>
				</li>
		

		</ul>
	</div>
</nav>
